
<div class="row login-center animated fadeIn fast">
  <div class="col-sm-3">
    <div class="image">
      <img src="../../../../assets/images/web_hi_res_512.png" height="180" class="rounded float-right" alt="Logo">
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Login with Google</h5>
        <p class="card-text">Turbine IDE can be accessed from the outside, your Google account will verify who you are.</p>
        <button class="btn btn-outline-primary" (click)="login()">Login with Google</button>
      </div>
    </div>
  </div>
</div>
