<mat-toolbar *ngIf=" session.isMainContent " [ngStyle]="headerColor()">
  <button mat-icon-button class="menu" (click)="matDrawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ _name }}</span>
  <button mat-icon-button class="float-right" [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <div mat-card-avatar="" class="mat-icon material-icons img_profile" [ngStyle]="imgProfile()"></div>
      <span>{{ session.google.currentUser?.displayName }}</span>
    </button>
    <button href mat-menu-item (click)="session.navigation.goToUrl('https://github.com/efraespada/turbine/issues')">
      <mat-icon>bug_report</mat-icon>
      <span>Report Issue</span>
    </button>
    <button mat-menu-item (click)="session.logout()">
      <mat-icon>power_settings_new</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer *ngIf=" session.isMainContent " #drawer class="example-sidenav" mode="{{navMode}}" [opened]="true">
    <mat-nav-list>
      <h3 mat-subheader>Tools</h3>
      <a mat-list-item (click)="link.click()" *ngFor="let link of links">
        <mat-icon mat-list-icon>{{link.icon}}</mat-icon>
        <h4 mat-line>{{link.name}}</h4>
        <p mat-line> {{link.description}} </p>
      </a>

      <mat-divider></mat-divider>

      <h3 mat-subheader>Databases</h3>
      <a mat-list-item (click)="openDialog()">
        <mat-icon mat-list-icon>playlist_add</mat-icon>
        <p mat-line>New Database</p>
      </a>

      <a mat-list-item href="" *ngFor="let database of data.databases">
        <mat-icon mat-list-icon>note</mat-icon>
        <h4 mat-line>{{database.name}}</h4>
        <p mat-line> {{database.total_size | number: '1.1-2'}} GB</p>
      </a>
    </mat-nav-list>
  </mat-drawer>
  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>


