<mat-toolbar *ngIf=" visible " [ngStyle]="headerColor()">
  <button mat-icon-button class="menu" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ basicConfig?.name }}</span>
  <button mat-icon-button class="float-right" [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voicemail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer *ngIf=" visible " #drawer class="example-sidenav" mode="{{navMode}}" [opened]="true">
    <mat-list>
      <h3 mat-subheader>Tools</h3>
      <mat-list-item *ngFor="let link of links">
        <mat-icon mat-list-icon>{{link.icon}}</mat-icon>
        <h4 mat-line>{{link.name}}</h4>
        <p mat-line> {{link.description}} </p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Databases</h3>
      <mat-list-item *ngFor="let link of links">
        <mat-icon mat-list-icon>note</mat-icon>
        <h4 mat-line>{{link.name}}</h4>
        <p mat-line> {{link.name}} </p>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>


